name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Build debug mode
      run: make ci-check DEBUG=1 SAN=-fsanitize=address,undefined OPTS="-Og -g"

    - name: Build release mode
      run: make ci-check DEBUG=0 SAN=
